%tr
  %td{:width => "2%;"}
    =family_member.id
  %td
    =family_member.name
  %td
    =family_member.email_id
  %td
    =family_member.notify? ? 'Yes' : 'No'
  %td{:width => "10%;"}
    =link_to family_member, method: :delete, remote: :true, confirm: "You sure?", :class => 'btn btn-mini btn-danger delete_family_member' do 
      %i{:class=>'icon-trash icon-white'}
      %span
        Delete
      %end