%tr
  %td
    =investment.id
  %td
    =investment.institution_name
  %td
    =investment.account_number
  %td
    =link_to "Delete", investment, method: :delete, confirm: "You sure?", :class => 'btn btn-mini btn-danger'