%tr
  %td{:width => "2%;"}
    =investment.id
  %td
    =investment.institution_name
  %td
    =investment.account_number
  %td
    =investment.first_owner_name
  %td
    =investment.second_owner_name
  %td
    =investment.nominee
  %td
    =investment.notes    
  -if @current_controller == "users"
    %td{:width => "12%;"}
      =link_to edit_investment_path(investment), :class=>'btn btn-mini btn-danger edit_investment'  do 
        %i{:class=>'icon-edit icon-white'}
        %span
          Edit
        %end
      =link_to investment, method: :delete, remote: :true, confirm: "You sure?", :class=>'btn btn-mini btn-danger delete_investment pull-right'  do 
        %i{:class=>'icon-trash icon-white'}
        %span
          Delete
        %end