!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to findata, #{@user.name}
    %p
      We have sent you the investment details of : #{@user.name}.
      %br/      
    %p Thanks and have a great day!