!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hello from findata!
    %p
      We have sent you the investment details of : #{@user.name}.
      %br/
    %p
    %table.table.table-striped.table-bordered.table-condensed
      %tr
        %th ID
        %th Institution Name
        %th Account Number
        %th First Owner
        %th Second Owner
        %th Nominee
        %th Notes
      %tr
        =render @user.investments 

    %p Thanks and have a great day!