%p
.FamilyList
  %h3 
    / Family Members(#{@user.family_members.count}) 
    Family Members
    =link_to "Add Family Members", new_family_member_path, {'class' => 'btn btn-primary pull-right'}
    / %a.btn.btn-primary.pull-right{'href' => '#AddFamilyMember', 'data-toggle' => 'modal'}
  / %p
  / #AddFamilyMember.modal.hide
  /   =render 'shared/family_member_form'
  %p
  %table.table.table-striped.table-bordered.table-condensed
    %tr
      %th ID
      %th Name
      %th Email
      %th Notify
      %th Actions
    %tr
      =render @user.family_members 


.InvestmentsList
  %h3 
    / Investments(#{@user.investments.count})
    Investments
    =link_to "Add Investments", new_investment_path, {'class' => 'btn btn-primary pull-right'}
    / %p
    / #AddInvestment.modal.hide
    /   =render 'shared/investment_form'
  %p
  %table.table.table-striped.table-bordered.table-condensed
    %tr
      %th ID
      %th Institution Name
      %th Account Number
      %th First Owner
      %th Second Owner
      %th Nominee
      %th Notes
      %th Actions
    %tr
      =render @user.investments 



.AddressesList
  %h3 
    / Addresses(#{@user.addresses.count})
    Addresses
    =link_to "Add Address", new_polymorphic_path([@addressable,@address]), {'class' => 'btn btn-primary pull-right'}
    / %a.btn.btn-primary.pull-right{'href' => '#AddAddress', 'data-toggle' => 'modal'}
  / %p
  / #AddAddress.modal.hide
  /   =render 'shared/address_form'  
  %p
  %table.table.table-striped.table-bordered.table-condensed
    %tr
      %th ID
      %th First Line
      %th Second Line
      %th City
      %th State
      %th Country
      %th Pin
      %th Actions
    %tr
      =render @user.addresses 

