%p
  User: #{@user.name}
%p
  Email: #{@user.email if @user.email}
%p
.FamilyList
  - if @user.family_members.any?
    %h3 #{ @user.family_members.count} Family Members
    %ol 
    =render @user.family_members 
%p
.AddFamilyMember
  =render 'shared/family_member_form'


%p
.InvestmentsList
  - if @user.investments.any?
    %h3 #{ @user.investments.count} Accounts
    %ol 
    =render @user.investments 
%p
.AddInvestment
  =render 'shared/investment_form'

