%p
  %h1
    Welcome, #{@user.name} 
  %h4
    #{@user.email if @user.email}
%p
.accordion-group.FamilyList
  .accordion-heading
  %a.accordion-toggle data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
  %h3 Family Members(#{@user.family_members.count})
  %table.table.table-striped
    %tr
      %th ID
      %th Name
      %th Email
      %th Actions
    %tr
      =render @user.family_members 
%p
.AddFamilyMember
  =render 'shared/family_member_form'


%p
.InvestmentsList
  %h3 Investments(#{@user.investments.count})
  %table.table.table-striped
    %tr
      %th ID
      %th Institution Name
      %th Account Number
      %th Actions
    %tr
      =render @user.investments 

%p
.AddInvestment
  =render 'shared/investment_form'

