/ .modal-header
/   %button.close{"data-dismiss" => "modal", :type => "button"} ×
/   %h3 Add Address
/ .modal-body
/ =simple_form_for [@addressable, @address], :validate => true do |f|
/   .form-inline.form-horizontal
/     =if @address.errors.any?
/       .error_messages
/         .h2 Please correct the following errors.
/         .ul
/           =@address.errors.full_messages.each do |msg|
/             .li
/               =msg
/     .field
/       = f.input :first_line, placeholder: "First Line...", :as => :string
/       = f.input :second_line, placeholder: "Second Line...", :as => :string
/       = f.input :city, placeholder: "City...", :as => :string
/       = f.input :state, placeholder: "State...", :as => :string
/       = f.input :country, placeholder: "Country...", :as => :string
/       = f.input :zip, placeholder: "Pin...", :as => :string
/       .modal-footer
/         %a.btn{"data-dismiss" => "modal", :href => "#"} Close
/         = f.submit "Add", class: "btn btn-primary"
