= form_for(@family_member) do |f|
  .field
    = f.text_area :name, placeholder: "Add new family member..."
    = f.text_area :email_id, placeholder: "Add new family member..."
  = f.submit "Add Family Member", class: "btn btn-large btn-primary"